@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@font-face {
  font-family: 'EmojiFont1'; /*a name to be used later*/
  /* src: url('http://domain.com/fonts/font.ttf'); URL to font */
  src: url('assets/NotoEmoji-Regular.ttf');
}

@font-face {
  font-family: 'EmojiFont2'; /*a name to be used later*/
  /* src: url('http://domain.com/fonts/font.ttf'); URL to font */
  src: url('assets/Symbola-AjYx.ttf');
}

:root {
  --bgColor: #ffffff;
  /* --primary: #BA947E; */
  /* --primaryDark: #A87456; */
  --primary: #A87456;
  --primaryDark: #965735;
  /* --primaryLight: #FAF6F2; */
  --primaryLight: #E6DBD0;
  --secondaryDark: #092C06;
  --secondaryLight: #2B9126;
  --secondary: #11580D;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgColor);
}

h1 h2 h3 h4 {
  font-weight: bold;
}

h3 {
  font-weight: bolder;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Roboto, monospace;
}

tr,
.table th,
.table td {
  vertical-align: middle;
}
.emoji {
  font-family: 'EmojiFont1', 'EmojiFont2';
  color: white;
}

.center {
  text-align: center;
}

.navbar {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-link {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.btn-brown {
  background-color: var(--bgColor);
}

.workshop-title {
  color: var(--primary);
  text-align: center;
}

.card_label {
  color: white;
}

.btn-custom-lot, .btn-custom-lot:hover:active {
  color: var(--primary) !important;
  background-color: var(--primaryLight) !important;
  border-color: var(--primaryLight) !important;
  font-weight: 500 !important;
}

.btn-custom-lot:hover {
  color: white !important;
  background-color: var(--primaryDark) !important;
  border-color: var(--primaryDark) !important;
}

.btn-custom-lot:disabled:active {
  color: white !important;
  background-color: var(--primaryDark) !important;
  border-color: var(--primaryDark) !important;
}

.btn-custom-lot:active, .btn-custom-lot:visited, .btn-custom-lot.active {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: white !important;  
  box-shadow: 0 0 0 0rem lightgrey !important;
}

.btn-custom-lot:focus, .btn-custom-lot.focus {
  box-shadow: 0 0 0 0rem lightgrey;
}

.btn-custom-secondary {
  background-color: var(--secondary) !important;
  border-color: var(--secondaryDark) !important;
  color: white !important;
  font-weight: 500 !important;
}

.btn-custom-secondary:disabled, .btn-custom-secondary.disabled, .btn-custom-secondary:hover:disabled, .btn-custom-secondary:hover.btn-custom-secondary.disabled {
  background-color: white !important;
  color: var(--secondaryDark) !important;
  border-color: var(--secondaryDark) !important;
}

.btn-custom-secondary:active:enabled, .btn-custom-secondary.active:enabled, .btn-custom-secondary:visited {
  background-color: var(--secondary) !important;
  color: white !important;
  border-color: var(--secondary) !important;
}

.btn-custom-secondary:hover:enabled, .btn-custom-secondary:focus {
  background-color: var(--secondaryDark) !important;
  color: white !important;
  border-color: var(--secondaryDark) !important;
}

.fill-current-color {
  fill: currentColor;
}

/* .primary:hover {
  fill: #ba947e;
} */

.yaxis {
  font-size: 10px;
}

